@charset "UTF-8";


@media screen and (max-width: 1120px) {
 
    /* DESCRIÇÃO DO FILME */
    .descricao {
        gap: 3rem;
        flex-direction: column;
    }

    .navegacao-dados-filme .lista-navegacao {
        top: 55rem;
    }

    .descricao .resumo-categoria {
        width: 100%;
    }

    .avaliacao-filme {
        width: 100%;
    }
    
}

@media screen and (max-width: 1070px) {
    
    .conteudo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } 

    .conteudo {
        grid-template-areas: 
    
        "inglourious toyStory" 
    
        "scootPilgrim scootPilgrim "
    
        "spiderMan spiderMan"
    
        "houseCards olivia"
    
        "houseCards oliviaNews" 
    
        "scarlett rank"
    
        "rihannaNews rihanna" 
    
        "quentinTarantino jerseyBoys" 
    
        "showTwitter littleMiss" 
    
        "leonardoDicaprio longasMetragens" 
    
        "leonardoDicaprio vingadores" 
    
        "citacaoTwitter vingadores" 
    
        "batman kill" 
    
        "silicon silicon" 
    
        "enlightened-choice-awards enlightened-choice-awards" 
        
        ;
    } 

    /* CARD SCARLETT */
    #scatlettJohansson {
        background-size: 800px;
        height: 1002px;
        background-repeat: no-repeat;
    }

    .card-noticia .legenda-titulo .legenda {
        color: #7f5c19;
    }
    

    /* RANK PESSOAS */
    .aside-rank-pessoas {
        padding-top: 2.5rem;
    }

    .aside-rank-pessoas p::after {
        content: '';
        top: 6rem;
    }

    /* SHOW TWITTER */
    .show-twitter {
        background-size: 469px;
    }

    /* TEEN CHOICE AWARDS */
    #choiceAwards .legenda-titulo {
        padding-right: 0rem;
    }

    /* ÁREA RECOMENDADO */
    .lista-filmes {
        gap: 1rem;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .lista-filmes .filme {
        display: flex;
        width: 33%;
        flex-direction: column;
    }

}  

@media screen and (max-width: 768px) {
    
    /* SIDEBAR */
    .sidebar {
        display: none;
    }

    /* CONTAINER */
    .container {
        margin-left: 0;
    }

    /* DESCRIÇÃO DO FILME/SÉRIE */
    .container-2 {
        padding-left: 0;
        padding-right: 0;
    }
    
    .legenda, h1, .creditos-elenco, .descricao-filme .descricao {
        padding-left: 1.5rem;
    }   

    .cabecalho #verMais {
        padding-right: 0rem;
    }

    .descricao-filme {
        padding-top: 1rem;
        position: relative;
    }

    .descricao .resumo-categoria {
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }

    .descricao .resumo-categoria img {
        width: 170px;
    }

    .avaliacao-filme .nota {
        width: 140px;
        height: 140px;
        padding-top: 1.7rem;
    }
    
    .avaliacao-filme .nota span {
        font-size: 4.5em;
    }

    .navegacao-dados-filme {
        position: absolute;
        top: 88%;
        width: 100%;
        overflow-x: scroll;
    }

    .navegacao-dados-filme .lista-navegacao {
        position: unset;
        width: 47rem;
    }

    .navegacao-dados-filme .lista-navegacao .item a {
        width: 11.7rem;
    }

    /* CONTEÚDO */
    .conteudo {
        display: grid;
        grid-template-columns: minmax(300px, 1fr);
    } 

    .conteudo {
        grid-template-areas: 
    
        "inglourious" 
    
        "toyStory"

        "scootPilgrim"
    
        "spiderMan"
    
        "olivia"
    
        "houseCards" 
    
        "oliviaNews"

        "scarlett"

        "rank"
    
        "rihanna" 

        "rihannaNews" 
    
        "quentinTarantino" 

        "jerseyBoys" 
    
        "littleMiss" 

        "showTwitter" 
    
        "longasMetragens" 
    
        "leonardoDicaprio"

        "vingadores" 
    
        "citacaoTwitter" 
    
        "kill" 

        "batman" 
    
        "silicon" 
    
        "enlightened-choice-awards" 
        
        ;
    } 

    .conteudo .legenda-titulo, .conteudo .titulo {
        padding-left: 2.1rem; 
    }

    /* BOX OLIVIA */
    #olivia {
        background-image: url(../img/box-olivia.webp);
        grid-area: olivia;
        height: 500px;
    }

    /* RANK PESSOAS  */
    .aside-rank-pessoas {
        padding-bottom: 3rem;
    }    

    .aside-rank-pessoas p::after {
        content: '';
        top: 5rem;
    }

    /* CARD RIHANNA */
    #rihanna {
        background-position: 50% 50%;
        background-size: 750px;
        height: 500px;
    }

    /* SHOW TWITTER */
    .show-twitter {
        background-size: 753px;
    }

    /* CARD KILL */
    #kill {
        background-size: 750px;
    }

    /* ENLIGHTENED E TEEN CHOICE AWARDS */
    .enlightened-choice-awards {
        grid-template-columns: 1fr;
    }

    #enlightened {
        grid-column: 1;
    }

    #choiceAwards {
        grid-column: 1;
    }

    /* LISTA DE FILMES RECOMENDADOS */
    .lista-filmes .filme {
        width: 100%;
    }

    .lista-filmes .filme .background-img:hover {
        box-shadow: unset;
    }

    /* CARD SILICON */
    .card-filme .legenda-titulo {
        padding-right: 0;
    }

} 


@media screen and (max-width: 440px) {

    .avaliacao-filme {
        align-items: flex-start;
        flex-direction: column;
    }

    .navegacao-dados-filme {
        position: absolute;
        top: 90.2%;
        width: 100%;
        overflow-x: scroll;
    }
}
