@charset "UTF-8";

/* PALETA DE CORES e FONTES */
:root {
    --cor1: #FFF;
    --cor2: #333333;
    --cor3: #737373;
    --cor4: #c4c2c2;
    --cor5: #adadad;
    --cor6: #817e79b3;
    --cor7: #ff9317;
    --cor8: #ffc917;
    --cor9: #f2be5c;
    --cor10: #44dbd6;
    --cor11: #cc78f080;
    --cor12: #60db44;
    --cor13: #95db4f80;

    --sans-pro: 'Source Sans Pro', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --promoximanovacond: 'Proximanova';
}

/* FONTE */
@font-face {
    font-family: 'Proximanova';
    src: url('https://daks2k3a4ib2z.cloudfront.net/53921298a470cf0443ac7d21/53a20ec764a4f9aa1001e105_ProximaNova-Semibold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

  @font-face {
    font-family: 'Proximanova';
    src: url('https://daks2k3a4ib2z.cloudfront.net/53921298a470cf0443ac7d21/53a20ec764a4f9aa1001e105_ProximaNova-Semibold.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

  @font-face {
    font-family: 'Proximanova';
    src: url('https://daks2k3a4ib2z.cloudfront.net/53921298a470cf0443ac7d21/53a26ffc64a4f9aa1001e60f_ProximaNovaCond-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GRID 2 COLUNAS */
body {
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* SIDEBAR */
.sidebar {
    background-color: var(--cor1);
    position: fixed;
    width: 5.81rem;
    height: 100vh;
    z-index: 1;
}

/* LOGO */
.sidebar .logo {
    background-color: #ffb10a;
    padding: 1.7rem 0.9rem 1.5rem 0.9rem;
}

.sidebar .logo img {
    width: 100%;
}

/* LISTA DE LINKS */
.lista-links {
    list-style: none;
}

.lista-links .item {}

.lista-links .item a {
    display: block;
    text-decoration: none;
    color: var(--cor5);
    font-family: var(--sans-pro);
    font-weight: 600;
    font-size: 0.9em;
    padding: 1.6rem 0rem 1rem 0rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.lista-links .item a:hover {
    background-color: #ededed;
    color: #c2c2c2;
    transition: all 0.15s ease-in 0s;
    box-shadow: inset 3px 0px 0px 0px var(--cor8);
}

.lista-links .item a img {
    display: block;
    width: 1.56rem;
    margin: auto auto 0.5rem auto;
}

.lista-links .item a #alerta-numero {
    background-color: #17d8ff;
    color: white;
    position: absolute;
    border-radius: 50%;
    right: 1.6rem;
    top: 1.3rem;
    font-size: 0.9em;
    height: 19px;
    width: 19px;
}

.lista-links .item a span {}

/* CONTAINER */
.container {
    margin-left: 5.8rem;
}

.container-2 {
    max-width: 1255px;
    margin: auto;
    padding-left: 3.4rem;
    padding-right: 2rem;
    background-image: linear-gradient(to top, #000, rgba(0, 0, 0, .6) 53%, transparent);
}

/* CABEÇALHO */
.cabecalho {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 0.8rem;
    background-position: center;
}

/* ÁREA PESQUISA */
.cabecalho .botao-pesquisa {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4rem;
}

.cabecalho .botao-pesquisa a {
    text-decoration: none;
    width: 100px;
    color: var(--cor1);
    font-family: var(--sans-pro);
    border: 1px solid var(--cor3);
    padding-block: 0.6rem;
    padding-inline: 0.8rem 1rem;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 400;
    border-radius: 2px;
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.cabecalho .botao-pesquisa a:hover {
    background-color: var(--cor2);
    transition: .5s;
}

.cabecalho .botao-pesquisa a img {
    width: 13px;
}


.cabecalho .legenda {
    display: block;
    font-family: var(--montserrat);
    font-weight: 600;
    color: var(--cor4);
    text-transform: uppercase;
    font-size: 0.9em;
}

.cabecalho h1 {
    font-family: var(--sans-pro);
    color: white;
    font-weight: 600;
    font-size: 5em;
    line-height: 1;
    margin-bottom: 1rem;
    letter-spacing: -3px;
}

/* CRÉDITOS E ELENCO */
.creditos-elenco {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 3rem;
    align-items: center;
    color: var(--cor4);
    font-family: var(--promoximanovacond);
    font-weight: 600;
}

.creditos-elenco > .nota {
    text-align: center;
    display: block;
    background-color: #3ec24b;
    color: white;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    font-family: var(--promoximanovacond);
    font-weight: 700;
    font-size: 0.68em;
    padding-top: 0.3rem;
}

.creditos-elenco > .atencao-pais {
    text-align: center;
    margin-right: 0.7rem;
    border: 1px solid var(--cor3);
    font-weight: 600;
    border-radius: 2px;
    font-size: 0.7em;
    width: 26px;
    height: 22px;
    padding-top: 0.22rem;
    color: var(--cor4);
}

.creditos-elenco p {}

/* BOTÃO VER MAIS */
.cabecalho #verMais {
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    border-top: 1px solid var(--cor3);
    color: var(--cor4);
    text-transform: uppercase;
    padding: 1.2rem;
    font-size: 0.75em;
    font-family: var(--sans-pro);
    font-weight: 600;
    cursor: pointer;
    padding-right: 4rem;
    margin-bottom: 4rem;
}

.cabecalho #verMais i {
    margin-left: 0.3rem;
    font-size: 0.7em;
}

/* DESCRIÇÃO DO FILME/SÉRIE */
.descricao-filme {}

/* DESCRICÃO */
.descricao {
    display: flex;
    gap: 5rem;
    padding-bottom: 8.64rem;
}

.descricao .resumo-categoria {
    gap: 1rem 2rem;
    display: grid;
    grid-template-columns: 7.5rem 23.87rem;
}

.descricao .resumo-categoria img {
    display: block;
    width: 120px;
    border-radius: 5px;
    grid-column: 1;
    grid-row: 1/3;
}

.descricao .resumo-categoria p {
    grid-column: 2;
    grid-row: 1/2;
    color: var(--cor4);
    font-family: var(--sans-pro);
    font-weight: 600;
    line-height: 1.43rem;
}

.descricao .resumo-categoria .box-categorias {}

.descricao .resumo-categoria .categoria {
    font-family: var(--sans-pro);
    text-align: center;
    border: 1px solid var(--cor3);
    font-weight: 600;
    border-radius: 2px;
    font-size: 0.7em;
    width: 72px;
    height: 26px;
    padding-top: 0.3rem;
    color: var(--cor4);
    display: inline-block;
    text-transform: uppercase;
}

.avaliacao-filme {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.avaliacao-filme .nota {
    background-color: transparent;
    border: 7px solid white;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    text-align: center;
    padding-top: 2.4rem;
    border-right-color: #33333383;
}

.avaliacao-filme .nota span {
    color: var(--cor1);
    font-size: 5em;
    font-family: var(--promoximanovacond);
    font-weight: 200;
    letter-spacing: -7px;
}

.critica .lista-critica {
    list-style: none;
}

.critica .lista-critica .item {
    color: var(--cor3);
    font-family: var(--sans-pro);
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 1rem;
}

.critica .lista-critica .item .nome-line {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 0.9em;
}

.critica .lista-critica .item .underline {
    background-color: var(--cor6);
    width: 13rem;
    border-radius: 3px;
    height: 7px;
}

.critica .lista-critica .item .underline::after {
    content: '';
    display: block;
    width: 45%;
    height: 7px;
    background-image: linear-gradient(to right, var(--cor7), var(--cor8));
    border-radius: 3px;
} 

.critica .lista-critica .item .underline-66::after {    
    content: '';
    display: block;
    width: 66%;
    height: 7px;
    background-image: linear-gradient(to right, var(--cor7), var(--cor8));
    border-radius: 3px;
} 

/* NAVEGAÇÃO DE DADOS SOBRE O FILME */
.navegacao-dados-filme {}

.navegacao-dados-filme .lista-navegacao {
    position: absolute;
    left: 5.7rem;
    display: flex;
    list-style-type: none;
    text-align: center;
    background-color: #1918178f;
    width: 93%;
    top: 41.3rem;
}

.navegacao-dados-filme .lista-navegacao .item {
    width: 25%;
}

.navegacao-dados-filme .lista-navegacao .item a {
    background-color: transparent;
    width: 100%;
    display: block;
    font-size: 1.12em;
    color: #8f8f8f;
    font-family: var(--sans-pro);
    font-weight: 600;
    text-decoration: none;
    padding: 1.5rem;
    text-transform: uppercase;
    border-left: 1px solid black;
}

.navegacao-dados-filme .lista-navegacao .item a:hover {
    box-shadow: inset 0px 3px 0px var(--cor8);
}

.navegacao-dados-filme .lista-navegacao .item a#fundo-amarelo {
    background-color: var(--cor8);
    color: var(--cor2);
    transition: all 0.15s ease-in 0s;
}

/* CONTEÚDO */
.conteudo {
    display: grid;
    grid-template-columns: repeat(3, minmax(418px, 1fr));
}

/* CARD Inglourious Basterds */
#inglouriousBasterds {
    background-image: url(../img/card-inglourious.jpg);
    position: relative;
}

.card-filme {
    background-position: 50% 50%;
    background-size: cover;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* BOTÃO PLAY */
.card-filme a {
    display: block;
    border: 2px solid white;
    text-decoration: none;
    height: 80px;
    width: 80px;
    border-radius: 50%; 
    background-image: url(../img/icone-play-video.png);
    background-repeat: no-repeat;
    background-position: 54% 50%;
    background-size: 25px;
    position: absolute;
    top: 14rem;
    right: 11rem;
}

.card-filme a:hover {
    transition: .5s;
    background-color: #fdc200b6;
    background-image: url(../img/icone-play-video-white.png);
    background-repeat: no-repeat;
    background-position: 54% 50%;
    background-size: 25px;
}

/* CREDITOS E TÍTULO DO FILME */
.card-filme .titulo-creditos {
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .8));
    padding-left: 2.1rem;
}

.titulo-creditos .legenda {
    color: var(--cor8);
    font-weight: 300;
    font-family: var(--montserrat);
    text-transform: uppercase;
    font-size: 0.8em;
}

.titulo-creditos h2 {
    font-family: var(--sans-pro);
    font-weight: 300;
    color: var(--cor1);
    font-size: 2.12em;
    margin-bottom: 0.4rem;
}

.titulo-creditos .creditos-elenco {}

.titulo-creditos .creditos-elenco .nota {
    border: 1px solid #3ec24b;
    background-color: transparent;
    color: #3ec24b;
    font-family: var(--promoximanovacond);
    font-weight: 400;
}

.titulo-creditos .creditos-elenco p {
    font-family: var(--promoximanovacond);
    font-weight: 400;
    font-size: 1em;
    color: var(--cor4);
}

/* CARD Toy Story 3 */
#toyStory {
    background-image: url(../img/card-tory-story.jpg);
}

/* CARD The Amazing Spiderman */
#spiderMan {
    background-image: url(../img/card-spider-man.jpg);
}

/* CARD Scott Pilgrim vs. the World */
#scootPilgrim {
    background-image: url(../img/card-scott-pilgrim.jpg);
    grid-column: 1/3;
    height: 420px;
}

#scootPilgrim .titulo-creditos .legenda {
    color: #f2be5c;
    font-weight: 600;
}

/* CARD Scarlett Johansson */
#scatlettJohansson {
    background-image: url(../img/card-scarl.jpg);
    grid-column: 3/4;
}

.card-noticia {
    background-position: 50% 50%;
    background-size: cover;
    height: 750px;
}

.card-noticia .legenda-titulo {}

.card-noticia .legenda-titulo .span {}

.card-noticia .legenda-titulo h2 {}

/* CARD House of Cards */
#houseCards {
    background-image: url(../img/card-already.jpg);
}

.card-noticia .legenda-titulo .tempo-site {}

/* BOX OLIVIA */
#olivia {}

.box-ator {}

/* NOTÍCIAS DE CELEBRIDADES */
.celebrity-news {}

.celebrity-news h3 {}

.celebrity-news h2 {}

.celebrity-news .tempo-publicacao {}

/* RANK DE PESSOAS */
.aside-rank-pessoas {}

.aside-rank-pessoas p {}

.lista-rank {}

.lista-rank .pessoa {}

.lista-rank .pessoa .img-nome {}

.lista-rank .pessoa .img-nome img {}

.lista-rank .pessoa .img-nome .nome {}

.lista-rank .pessoa .classificacao {}

/* BOX RIHANNA */
#rihanna {}

/* CARD QUENTIN TARANTINO */
#quentinTarantino {
    background-image: url(../img/card-quentin.png);
}

.card-noticia .legenda-titulo .tempo-publicacao {}

/* CARD JERSEY BOYS */
#jerseyBoys {
    background-image: url(../img/card-jersey.jpg);
}

.card-noticia .titulo {}

.card-noticia .titulo h2 {}

.card-noticia .titulo .tempo-publicacao {}

/* SHOW TWITTER  */
.show-twitter {}

.show-twitter img {}

.show-twitter p {}

.show-twitter .img-name-instagram {}

.show-twitter .img-name-instagram img {
    width: 10px;
}

.show-twitter .img-name-instagram .name-inst {}

/* VIDEO MISS SUSHINE */
.card-video {}

.card-video a {}

.card-video a img {}

.card-video .legenda-titulo  {}

.card-video .legenda-titulo .legenda {}

.card-video .legenda-titulo h2 {}

/* CARD LEONARDO DICAPRIO */
#leonardoDiCaprio {
    background-image: url(../img/card-leonard.jpg);
}

.card-noticia .legenda-titulo .tempo-publicacao {}

/* LONGAS METRAGENS DE ROMANCE */
.longas-metragens {}

.longas-metragens h2 {}

.longas-metragens .tempo-publicacao {}

/* CARD NOLAN BATMAN */
#nolanBatman {
    background-image: url(../img/card-batman.jpg);
}

/* CITAÇÃO TWITTER */
.citacao-twitter {}

.citacao-twitter .aspas {}

.citacao-twitter h2 {}

.show-twitter .img-name-instagram {}

.show-twitter .img-name-instagram img {}

.show-twitter .img-name-instagram .name-inst {}

/* CARD VINGADORES */
#vingadores {
    background-image: url(../img/card-vingadores.jpg);
}

/* CARD WHAT IS SILLICON VALLEY? */
#silliconValley {
    background-image: url(../img/card-silicon.jpg);
}

.card-filme .legenda-titulo {}

.card-filme .legenda-titulo .legenda {}

.card-filme .legenda-titulo h2 {}

/* CARD KILL */
#kill {
    background-image: url(../img/card-kill.jpg);
}

/* CARD ENLIGHTENED */
#enlightened {
    background-image: url(../img/card-enlightened.jpg);
}

/* CARD TEEN CHOICE AWARDS */
#choiceAwards {
    background-image: url(../img/card-gravity.jpg);
}

/* SEÇÃO RECOMENDADO */
.secao-recomendado {}

.secao-recomendado h2 {}

/* LISTA DE FILMES */
.lista-filmes {}

.lista-filmes .filme {}

/* COMO TREINAR O SEU DRAGÃO 2 */
#how-to-train-your-dragon-2 {}

.lista-filmes .filme .background-img {}

.lista-filmes .filme .descricao {}

.lista-filmes .filme .descricao h3 {}

.lista-filmes .filme .descricao p {}

.lista-filmes .filme .descricao .nota {}

/* HER */
#her {}

/* XMEN */
#xMan {}

/* MILLION WAYS */
#millionWays {}

/* RODAPÉ */
.rodape {}

.rodape p {}

.rodape p a {}